

@media (min-width: 576px){
.container {
max-width: 100%;
}	
}
@media (min-width: 1420px){
.container {
max-width: 1420px;
}	
}
@media (max-width: 991px){
h1 {
    font-size: 30px;
}
}

/** ==================================================
Navigation 
======================================================*/
@media (min-width: 1024px){
.navbar-main{
background: #fff;
top: 101%;
position: absolute;
width: 100%;
left: 0;
margin-right: auto;
margin-left: auto;	
}	
.navbar-nav-main  {
background: transparent;
flex-direction: row;
flex-flow: row nowrap;
justify-content: flex-start;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: auto;
}
.dropdown-toggle::after{
display: none;
}
.navbar-nav-main .nav-item{
width: 35%;
text-align: left;
}
.dropdown-menu.dropdown-wrap{
display: block;
border-left: 0;
border-left: 1px solid #000;
padding-left: 20px;
padding: 40px 20px;
font-size: 20px;
height: 86.5%;
}

.dropdown-item{
white-space: normal;
width: 257px;	
}	
.block-clients-wrap img{
max-width: 130px;
}
}
@media (min-width: 1420px){
.navbar-main{
background: #fff;
top: 101%;
position: absolute;
width: 1920px;
left: 0;
margin-right: auto;
margin-left: auto;	
}	
.navbar-nav-main  {
background: #fff;
flex-direction: row;
flex-flow: row nowrap;
justify-content: space-between;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: 1420px;
}
.dropdown-toggle::after{
display: none;
}
.navbar-nav-main .nav-item{
width: 35%;
text-align: left;
}
.dropdown-menu.dropdown-wrap{
display: block;
border-left: 1px solid #000;
padding-left: 20px;
padding: 40px 20px;
font-size: 20px;
height: 86.5%;
}
.dropdown-item{
white-space: normal;
width: 257px;	
}	
.block-clients-wrap img{
max-width: 130px;
}
}
@media (max-width: 1280px){
.navbar-brand {
align-self: center;
flex-basis: 22%;
}
.mob-search-top.dropdown-toggle{
flex-basis: 5%;		
}
.menu-phone{
flex-basis: 18%;			
}
.menu-service{
flex-basis: 13%;
border-right:0;
padding: 1.2rem 0.5rem; 
}	

}



@media (max-width: 1023px){
.navbar-light .navbar-nav .nav-link {
font-size: 1.25rem;
text-transform: none;
padding: 16px 10px;

}
.navbar-light .navbar-nav .nav-item:not(:last-child){
border-bottom: 1px solid #000;		
	}
.menu-line-top{
display: none;
}
.nav-item-mob{
display: inline-block;
}
.navbar-nav-main .nav-item.dropdown	.dropdown-toggle.dropdown-toggle::after {
float: right;
margin-right: 10px;
margin-top: 14px;
}
.navbar-nav-main .nav-item.dropdown.show	.dropdown-toggle.dropdown-toggle::after {
transform: rotate(-180deg);
}	
}
@media (max-width: 991px){

.menu-bottom-line {
top: 68px;
}
.menu-phone .phone-desk, .service-text,.vl:before, .logo-ist{
display: none;
}

.navbar-brand {
position: absolute;
left: 0;
right: 0;
flex-basis: auto;
order: 2;
text-align: center;
margin: 0;
}
.logo-ist-light{
display: inline-block;
}
.mob-search-top.dropdown-toggle {
order: 1; 
flex-basis: auto;
position: absolute;
left: 75px;
z-index: 10;
}
.menu-phone{
order: 3; 
flex-basis: auto;
padding: 1.2rem 1rem;
position: absolute;
right: 75px;
}
.menu-service{
 padding: 1.2rem 1rem; 
border: 0;	
order: 4;
flex-basis: auto;
}

.menu-phone .phone-mob{
background: url("../img/icon-phone.svg") no-repeat center center;	
width: 30px;
height: 30px;
display:block;
}	
.icon-gear{
vertical-align: middle;
display: block;
}

}


@media (max-width: 576px){
.btn-menu {
padding-left: 0;
}
  .menu-service {  
padding-right: 0;  
  }
.mob-search-top.dropdown-toggle {
left: 45px;
}	
  .menu-phone{
    right: 45px;
  }
}


	
	
	
/** ==================================================
main-business___accordion
======================================================*/
@media (min-width: 350px){

.block-business{
padding-bottom: 1px;
}
.business-header .btn-link{
text-align: left;
padding: 0.9rem;
}	

.business-header .btn-link span:after{
content: url("../img/icon/icon-minus.svg");
display: inline-block;
width: 40px;
height: 40px;
text-align: center;
margin: auto;
background: #fff;
color: #000;
font-size: 40px;
line-height: 0.4;
float: right;	
}	
.business-header .btn-link.collapsed span:after{
content: url("../img/icon/icon_plus.svg");
display: inline-block;
width: 40px;
height: 40px;
text-align: center;
margin: auto;
background: #fff;
color: #000;
font-size: 40px;
line-height: 0.7;
float: right;
}

.block-business .collapse.show{
position: relative;
}	


.imgOffice, .imgPetrol, .imgHoreca, .imgRetail{
background: url('../img/business_mob.jpg') no-repeat 50% 50% / cover;
width: auto;
height: 300px;
margin-bottom: 1rem;
}
.block-clients-wrap img{
max-width: 100px;
overflow: hidden;
}		

}

@media (min-width: 992px){
.business-wrap{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #fff;
background-clip: border-box;
border: 0;
border-radius: 0;
min-height: 720px;
}
.block-business{
width: 22%;

}
.business-header{
height: 260px;		
}

.business-header .btn-link{
text-align: center;
}	 
.business-header .btn-link span:after{
content: url(../img/icon/icon-minus.svg);
display: block;
width: 40px;
height: 40px;
text-align: center;
margin: auto;
background: #fff;
color: #000;
font-size: 40px;
line-height: 0.4;
margin-top: 70px;
float: none;		
}
.business-header .btn-link.collapsed span:after{
content: url("../img/icon/icon_plus.svg");
display: block;
width: 40px;
height: 40px;
text-align: center;
margin: auto;
background: #fff;
color: #000;
font-size: 40px;
line-height: 0.7;
margin-top: 70px;
float: none;		
}
.btn-text, .business-header .btn-link.collapsed span:after {
float: none;
}

.imgOffice, .imgPetrol, .imgHoreca, .imgRetail{
display: none;
}	
.block-business-img{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
background-clip: border-box;
border: 0;
border-radius: 0;	
}
.block-img-desk{
width: 22%;
height: 420px;
position: absolute;
top: 300px;
}
.imgOffice-desk{
background: url(../img/business_office1.jpg) no-repeat 50% 50% / cover;		
}	
.imgPetrol-desk{
background: url("../img/business-petrol1.jpg") no-repeat 50% 50% / cover;			
}
.imgHoreca-desk{
background: url("../img/business-horeca1.jpg") no-repeat 50% 50% / cover;			
}
.imgRetail-desk{
background: url("../img/business-retail1.jpg") no-repeat 50% 50% / cover;				
}


}
@media (max-width: 991px){
  .block-busines-btn{
    width: auto;
  }  
}


/** ==================================================
CAROUSEL
======================================================*/	


@media (max-width: 1419px){	
.carousel-item img{
right: 15px;
width: 60%;
margin: 45px 0;

}
.carousel-caption{
position: absolute;
width: 35%;
left: 40px;
bottom: unset;
}
.carousel-caption h1 {
font-size: 58px;
}	
.carousel-indicators {
padding-left: 50px;
width: 100%;
}
.carousel-caption-text {
height: 275px;
}
}

@media (max-width: 1023px){	
.carousel-item img{
right: 30px;
}
.carousel-caption{
width: 330px;
left: 30px;
margin-top: 13%;
}	
.carousel-caption-text {
height: 250px;
} 
.btn-lg.btn-carousel{
padding: 0.5rem; 
font-size: 0.8rem;
width: 330px;
}  
.carousel-indicators {
padding-left: 30px;
width: 100%;
}  
}
@media (max-width: 991px){	
.carousel-item img{
right: 15px;
margin: 3px 0;
}
.carousel-item {
height: 450px;

}
.carousel-caption {
margin-top: 8%;
left: 15px;
}
.carousel-caption h1 {
font-size: 40px;
} 
.btn-lg.btn-carousel {
padding: 0.5rem;
font-size: 0.8rem;
width: 305px;
}

.carousel-indicators {
padding-left: 30px;
bottom: 20px;
}    
  
  
}



@media (max-width: 767px){	
.carousel-item {
height: 300px;
}
.carousel-item img {
width: 55%;
margin: 5px 0;
}
.carousel-caption h1 {
    font-size: 35px;
}
.carousel-caption{
width: 300px;
left: 30px;
margin-top: 3%;  
}
 .carousel-caption-text {
    height: 175px;
}
.btn-lg.btn-carousel {
    width: 300px;
}
}
@media (max-width: 576px){
	.carousel-item img {
    right: 0;
    width: 50%;
    margin: 45px 0;
}	
.carousel-caption {
    width: 170px;
    left: 15px;
    margin-top: 5%;
}  
.carousel-caption h1 {
font-size: 24px;
}	
  .carousel-caption-text {
    height: 200px;
}
.carousel-caption p {
    font-size: 12px;
}	
.btn-lg.btn-carousel {
    width: 140px;
}
.carousel-indicators {
    padding-left: 15px;
    bottom: 0;

}  
	}



/* ========================================= 
Content main
===========================================*/
@media (max-width: 1365px){	
.main-video h1, .main-business h1, .block-clients h1 {
font-size: 30px;
}
  .box-black{
    display: none;
  }
}
@media (max-width: 992px){	
.btn-dark a {
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
}
  .main-video h1, .main-business h1, .block-clients h1{
    margin-bottom: 30px;
  }
.video-block, .main-marketing, .main-business, .block-clients, .page-product, .page-catalog {
    margin-bottom: 60px;
}
  .video-block{
  padding: 60px 0 0;  
  }
.video-block-text {
    width: auto;
}
  .video-block-img {
    height: auto;
  }
.video-block-img .inside-video {
  position: relative;
    height: auto;
}  
.video-block-btn {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 30px;
}
  
}

@media (max-width: 991px){	
.main-marketing-text:not(:last-child) {
border-right: 0;
border-bottom: 1px solid #000;

}
}

/* ========================================= 
Catalog
===========================================*/





/** ===== Tabs  Catalog ====== */

@media (min-width: 1200px){
 .page-catalog .card-deck .col-xl-3 {
    padding: 0;
   padding-bottom: 2.1875rem;
   margin-bottom: 20px;
}
  .page-catalog  .card-deck .card{
    margin-left: 0;
  } 
 }
@media (min-width: 991px){	
  .page-catalog .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: transparent;
}
 .page-catalog .nav-tabs {
    border-bottom: 0;
}
  .brand-list-tab{
     padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
  } 
  .page-catalog .nav-tabs .nav-link{
    font-size: 2.5rem;    
  } 

   .page-catalog .card-deck{
    margin-top: 50px;
  }
  .page-catalog .card-body,   .page-product .card-body{
    padding: 0;
  }
  .catalog-wrap .title,  .catalog-wrap .text-desc{
    padding: 0 15px;
  }

}
@media (min-width: 1200px){	
.card-body .bottom-card{
opacity:0; 
transition: 1s; 
margin-left: -15px;
}

.card-body:hover .bottom-card{
opacity:1;
transition-duration: 1s;
}
}


@media (max-width: 991px){	
  .page-catalog .nav-tabs .nav-link{
    font-size: 2rem;    
  }   
  .page-catalog .nav-tabs .nav-link.active {
    border-color: #000;
}  
  .page-catalog .nav-tabs {
    border-bottom: 1px solid #000;
}
.brand-list-tab p {
  display: block;
float: none;
}  
}










